[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"

[packages]
slackclient = "*"
slackeventsapi = "*"
certifi = "*"
Flask = "*"
zappa = "*"
python-dotenv = "*"
pymysql = "*"

[requires]
python_version = "3.7"
